/*----------GENERAL STYLES----------*/

:root{
    --lightBackground: rgb(243, 234, 210);
    --lightBlack: rgb(30, 30, 30);
    --textFont: Manrope;
    --titleFont: PT Sans Narrow;
}

*{
    margin: 0;
    padding: 0;
    /* border: 1px solid rgb(218, 114, 114); */
    box-sizing: border-box;
}

body{
    background-color: var(--lightBackground);
    position: relative;
    color: var(--lightBlack);
}

main{
    margin: 0 100px 0 100px;
    display: flex;
    flex: 1;
    flex-direction: column;
}

/*----------PAGE HEAD----------*/

.header{
    height: 100px;
    margin-bottom: 140px;
    display: grid;
    align-items: center;
    position: sticky;
    top: 0; /*lo mantengo en el top sin position:fixed*/
    background-color: var(--lightBackground);
    z-index: 12;
}

.load-bar{
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: var(--lightBlack);
    width: 0;
    animation: progressGrow auto linear;
    animation-timeline: scroll(root block);
}

@keyframes progressGrow{
    0%{
        width: 0%;
    }
    8%{
        width: 100%;
    }
    100%{
        width: 100%;
    }
}

.navbar{
    font-size: 1.6em;
    width: 100%;
    padding: 0 10% 0px 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.list-right, .list-left{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 100px;
    font-family: var(--titleFont);
}

/*----------PAGE BODY----------*/

.container{
    /* border: 1px solid rgb(218, 114, 114); */
    margin-bottom: 400px;
    width: 80%;
    align-self: center;
    display: flex;
    flex-direction: column;
}

/*----------SECTIONS GENERAL----------*/

.section-title{
    font-family: var(--titleFont);
    font-size: 6.5em;
}

.section-content {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}

.section-maintext{
    font-family: var(--textFont);
    font-size: 1.8em;
    text-align: justify;
}

.section-img {
    flex-shrink: 0;
    /* flex: 2; */
    align-self: center;
    margin-left: 50px;
    object-fit: cover;
    max-width: 400px;
    min-width: 300px;
    width: 100%;
    height: auto; /* mantiene la relación de aspecto */
    border-radius: 5px;
    box-shadow: 0 0 12px rgba(65, 65, 65, 0.4);
}

/*----------SECTIONS----------*/

/*-arrow-icon-*/

.arrow-down {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    position: sticky; /* Sticky dentro del contenedor */
    top: 800px;     /* Se fija a 10px del borde inferior del contenedor */
    z-index: 10;      /* Asegúrate de que esté por encima de otros elementos */
}

.arrow-down > i {
    font-size: 4.5em !important;
}

/*-main title-*/

.title-container{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 80%;
    font-size: 5em;
    font-family: var(--titleFont);
}

.title-1, .title-2{
    transform: scale(1, 1.1); /* Escala 1 en ancho (X) y 1.5 en alto (Y) */
    line-height: 68%;
}


.title-1{
    width: 80%;
    min-width: 950px;
    align-self: flex-start;
    margin-bottom: 20px;
}

.title-2{
    width: 80%;
    min-width: 950px;
    align-self: flex-end;
    color: transparent; /* texto sin relleno */
    -webkit-text-stroke: 1.5px var(--lightBlack); /* borde del texto */
}

/*-about-*/

.about-content{
    justify-content: space-around;
    align-items: flex-start;
}

.present-text{
    width: 60%;
}

/*-skills cards-*/

.skills-list{
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.skill-card{
    width: 170px;
    height: 170px;
    perspective: 1000px; /* Profundidad para efecto 3D */
}

.card-inner{
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.7s;
}

.skill-card:hover .card-inner{
    transform: rotateY(180deg);
}

.card-front,
.card-back{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--lightBlack);
    border-radius: 5px;
}

.card-front i{
    font-size: 5.7em;
}

.card-back{
    font-family: var(--textFont);
    font-size: 1.5em;
    transform: rotateY(180deg);
    
}

/*-experience timelines-*/

.experience-content{
    gap: 70px;
    justify-content: space-evenly;
}

.timeline{
    display: flex;
    flex-direction: row;
    gap: 50px;
    max-width: 500px;
}

.timeline-line{
    width: 6px;
    height: 550px;
    background-color: var(--lightBlack);
}

.timeline-list{
    list-style: none;
    font-family: var(--textFont);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
}

.timeline-list li:first-child{
    font-size: 3.5em;
    font-family: var(--titleFont);
}

.timeline-item{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.timeline-item h4{
    font-size: 1.3em;
}

.timeline-item time, .timeline-item p{
    font-size: 1.2em;
}

/*-projects-*/

.projects-list{
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.project-card{
    width: 300px;
    height: 460px;
    border: 2px solid var(--lightBlack);
    border-radius: 5px;
    font-family: var(--textFont);
    transition: .3s ease;
}

.project-card a{
    padding: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-decoration: none;
    color: inherit;
}

.project-card:hover{
    border-bottom-right-radius: 70px;
    cursor: pointer;
    box-shadow: 4px 4px 10px rgba(65, 65, 65, 0.4);
}

.project-card a h4{
    font-family: var(--titleFont);
    font-size: 1.7em;
    margin-bottom: 20px;
}

.project-card a img{
    width: 235px;
    align-self: center;
    margin-bottom: 20px;
}

.project-card a p{
    text-align: justify;
    font-size: 1.1em;
}

/*-contact-*/

.contact-content{
    flex-direction: column;
}

.contact-text{
    text-align: center;
}

.contact-list{
    /* position: relative; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 60px;
    height: 250px;
    padding: 20px 50px 0px 50px;
    border-bottom: 2px solid var(--lightBlack);
}

.contact-element{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.contact-element i{
    font-size: 5em;
}

.contact-details{
    font-size: .9em;
    padding: 50px 50px 0px 50px;
}

/* .contact-info{
    position: absolute;
    transition: 1s ease;
} */

/* .phone:hover ~ .contact-info{
    opacity: 0;
    transform: translateY(180px);
} */

.container-last{
    margin-bottom: 250px;
}

/*----------FOOTER----------*/

footer{
    background-color: var(--lightBlack);
    font-family: var(--textFont);
    color: rgba(255, 255, 255, 0.651);
    margin-top: auto; /*para mantenerlo abajo con el flex:1 del main*/
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*---------------------------------------------------------*/

@media (width < 1415px){
    main{
        margin: 0 5% 0 5%;
    }

    .title-container{
        min-width: 200px;
        font-size: 4em;
    }
    .title-1, .title-2{
        align-self: auto;
        min-width: 763px;
    }
}

@media (width <= 1220px){

}

@media (width < 1085px){

    .section-title{
        font-size: 3.8em;
    }

    .section-content {
        display: flex;
        flex-direction: column;
        padding-top: 30px;
    }
    
    .section-maintext{
        font-size: 1.4em;
    }
    
    .section-img {
        width: 50px;
        margin: 40px 0 0 0;
    }

    /**/

    .title-container{
        min-width: 200px;
        font-size: 3.3em;
    }
    .title-1, .title-2{
        align-self: auto;
        min-width: 200px;
    }

    /**/

    .about-content{
        justify-content: space-around;
        align-items: center;
    }

    .present-text{
        min-width: 297px;
    }
}