/*----------GENERAL STYLES----------*/

:root{
    --lightBackground: rgb(243, 234, 210);
    --textFont: Manrope;
    --titleFont: PT Sans Narrow;
}

*{
    margin: 0;
    padding: 0;
    /* border: 1px solid rgb(218, 114, 114); */
    box-sizing: border-box;
}

body{
    background-color: var(--lightBackground);
    position: relative;
}

main{
    margin: 0 100px 0 100px;
    display: flex;
    flex: 1;
    flex-direction: column;
}

/*----------PAGE HEAD----------*/

.header{
    height: 100px;
    margin-bottom: 140px;
    display: grid;
    align-items: center;
    position: sticky;
    top: 0; /*lo mantengo en el top sin position:fixed*/
    background-color: var(--lightBackground);
    z-index: 12;
}

.load-bar{
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: black;
    width: 0;
    animation: progressGrow auto linear;
    animation-timeline: scroll(root block);
}

@keyframes progressGrow{
    0%{
        width: 0%;
    }
    17%{
        width: 100%;
    }
    100%{
        width: 100%;
    }
}

.navbar{
    font-size: 1.5em;
    width: 100%;
    padding: 0 10% 0px 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.list-right, .list-left{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 100px;
    font-family: var(--titleFont);
}

/*----------PAGE BODY----------*/

.container{
    /* border: 1px solid rgb(218, 114, 114); */
    margin-bottom: 400px;
    width: 80%;
    align-self: center;
    display: flex;
    flex-direction: column;
}

/*----------SECTIONS----------*/

.section-title{
    font-family: var(--titleFont);
    font-size: 6.5em;
}

.section-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px 20px 20px 0;
}

.section-text{
    width: 60%;
    font-family: var(--textFont);
    font-size: 2em;
    text-align: justify;
}

.section-img {
    flex-shrink: 0;
    /* flex: 2; */
    align-self: center;
    margin-left: 50px;
    object-fit: cover;
    max-width: 400px;
    min-width: 300px;
    width: 100%;
    height: auto; /* mantiene la relación de aspecto */
    border-radius: 5px;
    box-shadow: 0 0 12px rgba(65, 65, 65, 0.4);
}

/*-arrow-icon-*/

.arrow-down {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    position: sticky; /* Sticky dentro del contenedor */
    top: 800px;     /* Se fija a 10px del borde inferior del contenedor */
    z-index: 10;      /* Asegúrate de que esté por encima de otros elementos */
}

.arrow-down-icon {
    font-size: 4.5em !important;
}

/*-title-*/

.title-container{
    display: flex;
    flex-direction: column;
    /* align-self: center;
    width: 80%; */
    font-size: 5em;
    font-family: var(--titleFont);
}

.title-1, .title-2{
    transform: scale(1, 1.1); /* Escala 1 en ancho (X) y 1.5 en alto (Y) */
    line-height: 68%;
}


.title-1{
    width: 70%;
    align-self: flex-start;
    margin-bottom: 20px;
}

.title-2{
    width: 70%;
    align-self: flex-end;
    color: transparent; /* Hace que el texto no tenga relleno */
    -webkit-text-stroke: 1.5px black; /* Borde del texto */
}

/*-about-*/



/*----------FOOTER----------*/

footer{
    background-color: black;
    color: white;
    margin-top: auto; /*para mantenerlo abajo con el flex:1 del main*/
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}